<!DOCTYPE html>
<html lang="en">
<body>
    <h2> Usuario <%= users.id %></h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>telefono</th>
            <th>Dirección</th>
        </tr>
        <tr>
            <td><%=  %></td>
            <td><%= user.name %></td>
            <td><%= user.lastName %></td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td><%= user.address %></td>
            <td><%= user.img %></td>
        </tr>
    </table>

    <form action="/users/edit/<%= user.id %>?_method=PUT" method="POST">
        <button type="submit" class="action-button delete">Actualizar</button>
    </form>
</body>
</html>
