<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


 <!-- Bootstrap  -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>



 <!-- CSS interno -->
 <link rel="stylesheet" href="/css/style.css">

 <!-- Favicons -->
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
 <title>Luana Cake</title>
  
</head>
<body>
    


 <!-- Header -->
 <%- include('../partials/navbar.ejs') %>
 <!-- /Header -->

 


<div class="card bg-light">
<article class="card-body  create-card mx-auto" style="max-width: 400px;">

   
	<h4 class="card-title mt-3 text-center">Crear Producto</h4>
	<p class="text-center">Crea los productos que quieras</p>


    <div  class="galleta" > <img src="/img/cookies.png"  alt="">
    </div>

	<form action="/products/create" method="POST">

        <!-- Nombre -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
           </div>
              <input name="name" class="form-control <%= locals.errors && errors.name? 'is-invalid' : null %> " type="text" placeholder="Ingresa el nombre"
              <% if (locals.oldData) { %>
                value="<%=oldData.name%>"
               <% }%> 
              >
              <% if (locals.errors && errors.name) { %>
                <div class="error">
                  <p class="text-danger"> <%= errors.name.msg %> </p>
                </div>
              <% } %>
          </div>
    <!-- /Nombre -->

    <!-- Categoria -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-cookie"></i> </span>
		</div>
		<select class="form-control" name="category_id" <%= locals.errors && errors.category_id? 'is-invalid' : null %>>
			<option selected="" disabled selected> Categorias</option>
            <% categoria.forEach(category => { %>
            <option value="<%= category.name %>"
                <%= locals.oldData && (category.name === oldData.category_id)? 'selected' : null %> 
                ><%= category.name %></option>
            <% }); %>    
		</select>


        
        <% if (locals.errors && errors.category_id) { %>
            <div class="error">
              <p class="text-danger"> <%= errors.category_id.msg %> </p>
            </div>
          <% } %> 

	</div> 
    
    <!-- Precio -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fas fa-money-bill-alt"></i></span>
		</div>
        <!-- <input class="form-control" name="price" placeholder="Ingresa el precio" type="number"> -->
        <input name="price"  class="form-control
        <%= locals.errors && errors.price? 'is-invalid' : null %>" type="number" placeholder="Ingresa el precio"
        <% if (locals.oldData) { %>
          value="<%=oldData.price%>"
         <% }%> 
        >
        <% if (locals.errors && errors.price) { %>
          <div class="error">
            <p class="text-danger"> <%= errors.price.msg %> </p>
          </div>
        <% } %>
    </div> 
    <!-- /Precio -->

    <!-- Stock -->
    <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-suitcase" aria-hidden="true"></i></i></span>
        </div>
        <!-- <input class="form-control" name="stock" placeholder="Ingresa el stock" type="number"> -->
        <input name="stock"  class="form-control
        <%= locals.errors && errors.stock? 'is-invalid' : null %>" type="number" placeholder="Ingresa el stock"
        <% if (locals.oldData) { %>
          value="<%=oldData.stock%>"
         <% }%>>

        <% if (locals.errors && errors.price) { %>
          <div class="error">
            <p class="text-danger"> <%= errors.stock.msg %> </p>
          </div>
        <% } %>
    </div>
    <!-- /Stock -->

    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-cookie"></i> </span>
		</div>
        <select class="form-control" name="flavor_id" <%= locals.errors && errors.flavor_id? 'is-invalid' : null %>>
			<option selected="" disabled selected>Sabores</option>
            <% flavors.forEach(flavor => { %>
            <option value="<%= flavor.name %>"
                <%= locals.oldData && (flavor.name === oldData.flavor_id)? 'selected' : null %> 
                ><%= flavor.name %></option>
            <% }); %>    
		</select>
        <% if (locals.errors && errors.flavor_id) { %>
            <div class="error">
              <p class="text-danger"> <%= errors.flavor_id.msg %> </p>
            </div>
          <% } %> 
	</div> 
    
    <!-- /Flavor-->

    <!-- Descripcion -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="far fa-file-alt"></i> </span>
		</div>
        <textarea name="description"  class="form-control" cols="30" rows="10"  placeholder="Ingresa una descripción" <%= locals.errors && errors.description? 'is-invalid' : null %>></textarea>
        <% if (locals.errors && errors.description) { %>
            <div class="error">
              <p class="text-danger"> <%= errors.description.msg %> </p>
            </div>
          <% } %> 
    </div> 
    <!-- /Descripcion-->   
    
   
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Crear producto </button>
    </div>    
                                                   
</form>
</article>
</div> 


</div> 




<!-- Footer -->
<%- include('../partials/footer.ejs') %>
<!-- /Footer -->
</body>
</html>