<%- include('../../admin/partials/header.ejs') %>

<div class="container-fluid">
  <div class="row">
    <%- include('../../admin/partials/navbar.ejs') %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <form method="POST" action="/admin/flavors/create">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">CREAR SABOR</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="submit" class="btn btn-sm btn-outline-success"
                href="/admin/flavors/create">GUARDAR</button>
            </div>
          </div>
        </div>
        <div>
          <div class="mb-3">
            <label for="name" class="form-label">Nombre de Sabor</label>
            <input type="text" class="form-control <%= (locals.errors && errors.name) ? 'is-invalid' : null %>" name="name" value="<% locals.oldDate ? oldDate.name : null %>">
            <div id="emailHelp" class="form-text text-danger">
              <% if (locals.errors && errors.name) { %>
                <%= errors.name.msg %>
              <% } %>
            </div>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>

<%- include('../../admin/partials/footer.ejs') %>