<%- include('../../admin/partials/header.ejs') %>

<div class="container-fluid">
    <div class="row">
        <%- include('../../admin/partials/navbar.ejs') %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">LISTADO DE PRODUCTOS</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <a class="btn btn-sm btn-outline-success" href="/admin/products/create">CREAR PRODUCTO</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">#</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Sabores</th>
                            <th scope="col">Nombre</th>
                            <th class="text-center" scope="col">Stock</th>
                            <th class="text-center" scope="col">Price</th>
                            <th class="text-center" scope="col">Status</th>
                            <th scope="col" class="text-end">Funciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                        <tr>
                            <td class="text-center"> <%= product.id%></td>
                            <td> <%= product.category.name%></td>
                            <td> <%= product.flavors.name%></td>
                            <td> <%= product.name%></td>
                            <td class="text-center"> <%= product.stock%></td>
                            <td class="text-center">$ <%= product.price%></td>
                            <td class="text-center">
                                <% if (product.status) { %>
                                <span class="text-success" data-feather="check-circle"></span>
                                <% } else {%>
                                <span class="text-danger" data-feather="x-circle"></span>
                                <% } %>
                            </td>
                            <td class="text-end">
                                <a href="/admin/flavors/<= flavor.id%>/edit" class="text-success"><span
                                        data-feather="edit"></span></a>
                                |
                                <a href="/admin/flavors/<= flavor.id%>/delete" class="text-danger"><span
                                        data-feather="trash"></span></a>
                            </td>
                        </tr>
                        <% });%>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<%- include('../../admin/partials/footer.ejs') %>